.main-title{
    font-size: 75px;
}

.font{
    background-color: rgb(73, 182, 201);
    font-size: 25px;
}

.new-font{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-color:chocolate
}

body{
    border-style: dotted;
    border-color: red;
}

div{
    border-style:double;
    border-color: rgb(56, 153, 26);
}

a:link{
    color:rgb(67, 67, 194);
}

.box,world{
    font-size: 2em;
    background-color: violet;
    width: 300px;
    height: 100px;
    padding: 32px 68px 100px;
    border: 5px dotted black;
}

a:visited{
    color:rgb(67, 67, 194);
}

a:hover{
    color:brown
}

#parent{
    color:yellow;
    background-color: black;
}

#child{
    color:red;
    background-color: black;
}